<%# debug @itemsok.to_a %>
<%#= @itemsok.map{ |item| item.first_item.id } %><br>


<%= form_tag(root_path, :method => "post") do %>
  <%= label_tag(:number1, "El que quiero") %>
  <%= text_field_tag :quiero,nil, :class => 'drug_autocomplete' %>
  <%= hidden_field_tag :number1 %>

  <%= label_tag(:number1, "Talla del que tengo") %>
  <%= text_field_tag :tengo,nil, :class => 'drug_autocomplete' %>
  <%= hidden_field_tag :number2 %>

  <%= submit_tag("Do it!") %>

<% end %>


<%if not @itemsok.nil? 
  @itemsok.each do |searches|
%>
<table>
<tr>
  <td style="width:100px;"><%= searches.first_item.description %>  </td>
  <td style="width:150px; font-size:30px;"><%= searches.first_item_grade %>  </td>


  <td style="width:150px;"><%= searches.second_item.description %> </td>
  <td style="width:150px; font-size:30px;"><%= searches.second_item_grade %>  </td>

</tr>
</table>
  <%end
end%>
<%= form_tag(root_path, :method => "get") do %>

<% end %>

