<script src="/assets/search_autocomplete.js">
	$('#ad').click(function(){
	 alert("ok");
	});
	
</script>
<%# debug @itemsok.to_a %>
<%#= @itemsok.map{ |item| item.first_item.id } %><br>


<%= form_tag(root_path, :method => "post",:id =>"formid", :remote => true) do %>
  <%= label_tag(:quiero, "El que quiero") %>
  <%= text_field_tag :quiero, nil, :class => 'drug_autocomplete' %>
  <%= hidden_field_tag :number1 %>

  <%= label_tag(:tengo, "El modelo que tengo") %>
  <%= text_field_tag :tengo, nil, :class => 'drug_autocomplete',:onkeydown=> "send();" %>
  <%= hidden_field_tag :number2 %>

  <%= label_tag(:size1, "Talla de el que tengo") %>
  <%= text_field_tag :size1,nil, :onkeydown=> "send();"%>

  <%= submit_tag("Do it!",:id =>"submit_but") %>

<% end %>
	
	<div id="foo-list"> <%= render :partial => 'foos' %> </div>

	</body>

