<p id="notice"><%= notice %></p>

<p>
  <b>First item:</b>
  <%= @search.first_item_id %>
</p>

<p>
  <b>Second item:</b>
  <%= @search.second_item_id %>
</p>

<p>
  <b>User:</b>
  <%= @search.user_id %>
</p>

<p>
  <b>Is contribution:</b>
  <%= @search.is_contribution %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
